*{
    margin: 0;
    padding: 0;
}

body{
    background: #EEE;
    font-family: Tahoma, Arial;
}
nav{
    background: #356282;
    display: flex;
    padding: 10px 5px;
}
.navElm{
    align-items: center;
    display: flex;
    width: 50%;
}
#cabPag{
    padding: 0 2em;
}
#cabPag h1{
    color: #EEE;
}
#cabPag a{
    text-decoration: none;
}

#elemPag ul{
    display: flex;
    list-style: none;
    text-align: right;
}

#elemPag li{
    margin: 0 10px;
}

#elemPag a{
    color: #EEE;
    text-decoration: none;
}
/* Aqui terminan el nav y comienza imagen bienvenida */
#bienvenida{
    /*padding: 1em;*/
}
#bienvenida img{
    width: 100%;
}


#infoCurso{
    display: flex;
    padding: 2em 1em;
}

.infoGral{
    margin: 0 3em;
    padding: 5px;
}

.imgInfo{
    margin: 2em;
    text-align: center;
}
.txtInfo h5{
    font-size: 20px;
}
/* aqui termina la informacion del curso */
footer{
    background: #0E1A24;
    padding: 3em 2em;
    text-align: center;
}

footer div{
    margin: 0.5em 0;
}

#footInfo p{
    color: #E0FBFC;
    font-family: Consolas;
}

#footSM a{
    margin: 0 1em;
}
